{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}

{% load django_markdown django_markdown_static %}


{% block list %}

<div class="{{class}} card" id="">
    <a class="card-link row" href="{% url 'activity_detail' activity.id activity.slug %}">
        <img class="img-fluid {{img_class}}" src="{{ activity.picture.url }}">

        {% if request.resolver_match.url_name != "activity_detail" %}

        <div class="card-body {{about_class}}">
            <h5 class="card-title">{{ activity.name }}</h5>
            <p class="card-text">{{ activity.description|markdown|truncatewords_html:30 }}</p>
        </div>

        {% endif %}
    </a>
</div>
   

{% endblock %}