
 {% load staticfiles %}
 {% load fontawesome %}
 {% load app_filters %}
 {% load avatar_tags %}
 {% load django_bootstrap_breadcrumbs %}
 {% load django_markdown django_markdown_static %}
 {% load easy_maps_tags %}
 {% load activity_tags %}
 
 
 <div class="alert alert-success alert-dismissible fade show" role="alert">
        Vous avez les droits pour voir et confirmer les présences
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
<div id="add-user" class="">

    <button type="button" class="btn btn-primary row float-right btn-circle-responsive" data-toggle="modal" data-target="#add-user-modal">
            <i class="fa fa-user-plus"></i> Ajouter
    </button>

        <div class="modal fade" id="add-user-modal" tabindex="-1" role="dialog" aria-labelledby="add-user-modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <!---<span>Ajouter parmi </span>
                <select class="col-md-2 col-sm-4 form-control" v-model="selected_member_type">
                    <option value=0>Tous internes à l'organisation</option>
                    <option value=30>Administrateurs</option>
                    <option value=20>Membres actifis</option>
                    <option value=10>Adhérents</option>
                </select> -->
                        <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Ajouter</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                        <div class="search-user">
                            <input class="search-term-user" style="width:100%" type="text" v-model="fuzzy_input" placeholder="Nom, Prénom, Email..." 
                            >
                    
                            <select id="search-user-result" class="list-group" :size="fuzzy_list.length" v-model="selected_users" multiple
                            >
                            <option class="list-group-item card" v-for="result in fuzzy_list" :value="result.pk">
                            <div class="card">
                                [[result.name]] -
                                [[result.email]] -
                                [[text_role(result.role)]]
                            </div>
                            </option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn" v-on:click="add_users" value="ajouter"  data-dismiss="modal">
                            </input>
                        </div>
                    </div>
                </div>
            </div>
        </div>

 </div>


<script src="{% static "js/helper_functions.js" %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.0.4/fuse.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
<script>
    
  var organization_pk = {{organization_pk}};
  var event_pk = {{event_pk}};

  var options = {
      shouldSort: true,
      findAllMatches: true,
      threshold: 0.6,
      location: 0,
      distance: 100,
      maxPatternLength: 32,
      minMatchCharLength: 3,
      keys: [
          "name",
          "email"
      ]
  };

  const user_add = new Vue({
      delimiters: ['[[', ']]'],
      el: "#add-user",
      data() {
        
          return {
              fuzzy_input: "",
              selected_member_type: 0,
              text_roles: {
                  0: "Visiteur",
                  10: "Adhérent",
                  20: "Membre Actif",
                  30: "Administrateur",
              },
              all_users_in_org: [],
              selected_users: [],
              seen: false,
          }
      },
      created() {
          let csrftoken = getCookie('csrftoken');
          let headers = new Headers();

          headers.append('X-CSRFToken', csrftoken);
          fetch("/api/getUsers/" + organization_pk + "/" + event_pk, {
              headers: headers,
              method: "GET",
              credentials: 'include',
          })
              .then(response => response.json())
              .then(json => {
                  this.all_users_in_org = json.users;
              });
      },
      methods: {
          text_role: function(role_int){
              return this.text_roles[role_int];
          },
          add_users: function(event){
              let csrftoken = getCookie('csrftoken');
              let headers = new Headers();
              let payload = {
                  event_pk: event_pk,
                  user_list: this.selected_users,
              };

              let formData = payload_to_formBody(payload);

              headers.append('X-CSRFToken', csrftoken);
              headers.append('Content-Type',
                             'application/x-ww-form-urlencoded; charset=UTF-8');

              fetch("/api/addUsers/", {
                  headers: headers,
                  method: "POST",
                  credentials: 'include',
                  body: formData,
              })
                  .then(response => response.json())
                  .then(json => {
                      document.getElementById("available-seats").innerHTML = json.seats;
                      location.reload(true);
                  });
          }
      },
      computed: {
          users_matching_role: function(){
              return this.all_users_in_org.filter(
                  (user) => user.role >=this.selected_member_type);
          },
          fuzzy_list: function(){
              var fuse = new Fuse(this.users_matching_role, options);
              var result = fuse.search(this.fuzzy_input);

              return result;
          },
      }
  });

</script>
<!-- End add users script -->


