{% extends 'detail_view.html' %}

{% load staticfiles %}
{% load fontawesome %}
{% load app_filters %}
{% load avatar_tags %}
{% load django_bootstrap_breadcrumbs %}
{% load django_markdown django_markdown_static %}
{% load easy_maps_tags %}
{% load activity_tags %}

{% block breadcrumbs %}
{% with type="events" list_view="event_list" detail_name=event.title %}
   {{ block.super }}
{% endwith %}
{% endblock %}

<!-- define right header-bar color -->
{% block header_ban %}
    {% with object="event" %}
        {{ block.super }}
{% endwith %}
{% endblock header_ban %}
<!-- end define -->

<!--- Item banner -->
{% block TitleAndEdit %}


{% if not request.user.is_authenticated %}
{% else %}
    {% if request.user in event.organizers.all %}
        <a class="card-link mr-3 fm-update btn btn-primary float-right" href="{% url 'event_edit' event.id %}"
    data-fm-head="Create" data-fm-callback="reload">&nbsp
        <i class="fa fa-pencil-square-o 2-xs pt-1"></i>
        Editer
        </a>
    {% elif request.user in event.presents.all %}
    {% else %}
        <a class="card-link mr-3 fm-update btn btn-primary float-right" href="{% url 'booking_form' event.id %}"
        data-fm-head="Book" data-fm-callback="reload">&nbsp
        <i class="fa fa-pencil-square-o 2-xs pt-1"></i>
        {% if request.user in event.attendees.all %}
            Je ne participe plus
        {% else %}
            Je participe
        {% endif %}
        </a>
    {% endif %}
{% endif %}

    {% with name=event %}
    {{block.super}}
    {% endwith %}
        
    <span class='ml-5'>
        <a href="{% url 'place_detail' event.location.id event.location.slug %}">
          {{ event.location.name }}
    </a>

        {% if event.available_seats == 0 %}
            <span class="badge badge-warning">Complet</span>
        {% else %}
            <span class="badge badge-primary">{{ event.available_seats }}
            <small>Places restantes</small></span>
        {% endif %}
    </span>

{% endblock TitleAndEdit %}
<!-- End item banner -->


{% block context %}
<!-- About event -->
    <div class="card card-event sticky-position sticky-top sticky-keep d-none d-md-block" style="top:100px;" >
        <img class="img-fluid img-place" src="{{ event.type.picture.url }}">
    </div>

    <div class="p-2 card">
            <p>
                {% for condition in event.condition.all %}
                    <span>{{condition.resume}}</span>
                {% empty %}
                    <span>La participation est libre / pas de condition d'accès</span>
                {% endfor %}
            </p>
    </div>
    <div class="p-2 card">
        <a href="{% url 'activity_detail' event.type.id event.type.slug %}">
        <h5>{{event.type.name}}</h5>
        {{event.type.description|truncatechars:100|markdown}}
        </a>
    </div>
<!-- End about event -->

{% include "plateformeweb/organization.html" with organization=event.organization class="" img_class="col-4" about_class="col-8" %}

{% include "plateformeweb/place.html" with place=event.location class="" img_class="col-4" about_class="col-8" %}


<!-- Location -->

<!-- End location -->

{% endblock context %}

{% block stream %}
    {% with object=event %}
    {{ block.super }}
    {% endwith %}
{% endblock stream %}


{% block about %}

<!-- Add users to event : attendees if date_event < current_date , presents if date_event = current_date -->

<!-- end add users to event -->
{% if request.user.is_authenticated and request.user in admin_or_volunteer %}
<!-- validating presents possibilities for volonteers -->
{% include "plateformeweb/add_user.html" with organization_pk=event.organization.pk event_pk=event.pk %}
{% endif %}

<h5 class="border-bottom border-gray pb-2 mb-0 clear ">Participant.e.s</h5>

<div class="card-columns">
<!-- Users that have a role in the event -->
    {% for user in event.organizers.all %}
        {% include "users/user.html" with float="float-left" class="row checked administrator" orga=True img_class="col-12" content_class="col-12 text-center" %}
    {% endfor %}
</div>

{% if request.user.is_authenticated and request.user in admin_or_volunteer %}
<div class="card-columns">
<!-- display presents for admin or volonteers -->
        {% for user in event.presents.all %}
                {% include "users/user.html" with float="float-left" class="row checked" user_id=user.id img_class="col-12" content_class="col-12" absentee=False userid=user.id|serialize_id:event.id %}
        {% endfor %}
        {% for user in event.attendees.all %}
                {% include "users/user.html" with float="float-left" class="row" user_id=user.id img_class="col-12" content_class="col-12" absentee=True userid=user.id|serialize_id:event.id %}
        {% endfor %}
</div>
{% else %}

<!-- or warning message for others users -->
<div class="inaccessible">
    <p>Vous devez être membre actif de l'association organisatrice de l'èvenement pour voir les participants.
    <br><a href="{% url 'login' %}">Connectez-vous</a>
    </p>
    <div class="blured">
        <img src="{% static "img/fake-users.png" %}">
    </div>
</div>

    {% if request.user in event.attendees.all %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
        Vous êtes bien inscrit à cet évènement
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
{% endif %}


<!-- End attendees and presents -->

<script src="{% static "js/event_detail.js" %}"></script>

<!-- Leaflet script -->
<script>
        var longitude = new Array({{event.location.address.longitude}}).join('.');
        var latitude = new Array({{event.location.address.latitude}}).join('.');
        var event_map = L.map('event_map').setView([latitude, longitude], 16);
    
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            minZoom: 14,
            maxZoom: 16,
            id: 'mapbox.streets',
            accessToken: 'pk.eyJ1IjoiYXRlbGllcnNvdWRlIiwiYSI6ImNqazEwZW16aDAzbDkza254cHhucHJtMncifQ.01v1DWXApDJmCySy4QvD4A',
            noWrap: true,
            reuseTiles: true,
        }).addTo(event_map);
    
        var marker = L.marker([latitude,longitude]).addTo(event_map);
    
        event_map.touchZoom.disable();
        event_map.doubleClickZoom.disable();
        event_map.scrollWheelZoom.disable();
        event_map.boxZoom.disable();
        event_map.keyboard.disable();
</script>
    <!-- End Leaflet script -->


{% endblock about %}

