

{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}
{% load django_bootstrap_breadcrumbs %}
{% load django_markdown django_markdown_static %}



{% block list %}

<div class="{{class}} card card-place">
    <a class="row" href="{% url 'place_detail' place.id place.slug %}">
        <div class="{{img_class}}">
            <img class="img-fluid img-place" src="{{ place.picture.url }}">
        </div>
        <div class="card-body {{about_class}}">
                <h6 class="card-subtitle mb-2 text-muted">{{ place.type }}</h6>

                {% if request.resolver_match.url_name != "place_detail" %}
                <h5 class="card-title">{{ place.name }}</h5>
                <p class="card-text">{{ place.description|markdown  }}</p>
                {% endif %}

              <small> <ul class="list-group list-group-flush">
                    <li>
                        {% fontawesome_icon 'map-marker' %}
                        {{ place.address }}
                    </li>
                </ul>
            </small> 
        </div>
    </a>
</div>

{% endblock %}