{% extends 'detail_view.html' %}

{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}
{% load django_bootstrap_breadcrumbs %}
{% load easy_maps_tags %}
{% load django_markdown django_markdown_static %}
{% load activity_tags %}

{% block breadcrumbs %}
    {% with type="places" list_view="place_list" detail_name=place.name %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

<!-- just for define header-bar right color -->
{% block header_ban %}
    {% with object="place"%}
        {{ block.super }}
    {% endwith %}
{% endblock header_ban %}
<!-- end define -->

{% block TitleAndEdit %}


{% if request.user.is_authenticated and request.user in place.organization.volunteers or place.organization.admins %}
    <a class="card-link mr-3 fm-update btn btn-primary float-right" href="{% url 'place_edit' place.id %}"
    data-fm-head="Update" data-fm-callback="reload">&nbsp
        <i class="fa fa-pencil-square-o 2-xs pt-1"></i>
    Editer
    </a>
{% endif %}

{% with name=place %}
{{block.super}}
{% endwith %}

{% endblock TitleAndEdit %}

{% block context %}
    {% include "plateformeweb/place.html" with class="sticky-position sticky-top sticky-100"%}
    <div class="p-2 card">
            <h6>
                {% fontawesome_icon 'map-marker' %}
                    {{ place.name }},
                {{ place.address }}
            </h6>
             <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
       integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
       crossorigin=""/>
    
      <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
       integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
       crossorigin=""></script>
    
      <div style="height:250px;" id="event_map"></div>
    </div>
{% endblock context %} 

{% block stream %}
    {% with object=place %}
    {{ block.super }}
    {% endwith %}
{% endblock stream %}


{% block about %}

    <h5 class="border-bottom border-gray pb-2 mb-0 clear ">Description</h5>
    {{ place.description|markdown }}

    <h5 class="border-bottom border-gray pb-2 mb-0 clear ">Evenements organisés à {{plae.name}} </h5>
    {% include "plateformeweb/event_list_vuejs.html" with context_type="place" context_pk=place.pk %}
{% endblock about %}
      
