{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content %}
  <section class="container mt-4">
    <h1>
      {% if condition %}
        Mise à jour de '{{ condition.name }}'
      {% else %}
        Création d'une nouvelle Condition
      {% endif %}
    </h1>
    <a href="{% url 'user:organization_create' %}" class="btn btn-success">
      <i class="fa fa-users"></i>
      Créer une Organisation
    </a>
    <div class="card p-3">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="form-group p-2">
          <button type="submit" class="btn btn-success w-100 p-3">Valider</button>
        </div>
      </form>
    </div>
  </section>
{% endblock %}
