{% extends 'base.html' %}
{% load bootstrap4 %}
{% load assets %}

{% block extra_css %}
  {% assets "css_create_edit_event" %}
    <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet"/>
  {% endassets %}
{% endblock %}

{% block content %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">
        {% if event %}
          Mise à jour de '{{ event }}'
        {% else %}
          Création d'un nouvel évènement
        {% endif %}
      </h1>
      <p class="lead">
        <a href="{% url 'user:organization_create' %}" class="btn btn-success">
          <i class="fa fa-users"></i>
          Créer une Organisation
        </a>
        <a href="{% url 'event:condition_create' orga.pk %}" class="btn btn-success">
          <i class="fa fa-euro-sign"></i>
          Créer une Condition
        </a>
        <a href="{% url 'event:activity_create' orga.pk %}" class="btn btn-success">
          <i class="fa fa-wrench"></i>
          Créer une Activité
        </a>
        <a href="{% url 'location:create' %}" class="btn btn-success">
          <i class="fa fa-map-marker"></i>
          Créer un Lieu
        </a>
      </p>
    </div>
  </div>
  <section class="container mt-4">
    <div class="card p-3">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="form-group p-2">
          <button type="submit" class="btn btn-success w-100 p-3">Valider</button>
        </div>
      </form>
    </div>
  </section>
{% endblock %}

{% block extra_js %}
  {% assets "js_create_edit_event" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}
