{% extends 'base.html' %}
{% load static bootstrap4 %}

{% block content %}
  <section class="container">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Filtrer les évènements</h5>
        <div class="card-text">
          <form method="GET" class="form-row">
            {% bootstrap_form search_form  %}
            <br>
            <div class="form-group p-2 col mt-auto">
              <button type="submit" class="btn btn-success btn-block">
                <i class="fa fa-search"></i>
                Lancer la recherche
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row m-0">
      {% include "event/event_cards.html" with event_list=event_list %}
      {% if not event_list %}
        Aucun évènement trouvé pour vos critères de recherche
      {% endif %}
    </div>

  </section>
{% endblock %}
