{% extends 'base.html' %}
{% load assets l10n app_filters %}

{% block extra_css %}
  {% assets "css_detail_event" %}
    <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet"/>
  {% endassets %}
{% endblock %}

{% block content %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">{{ event.activity.name|title }}</h1>
      <p class="lead">
        <a href="{% url 'event:edit' event.pk event.organization.pk %}" class="btn btn-warning btn-sm"><i class="fa fa-pencil-alt"></i> Éditer</a>
        <a href="{% url 'event:delete' event.pk %}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Supprimer</a>
      </p>
    </div>
  </div>
  <section class="container">
    <div class="card">
      <div class="row pl-3 pr-3">
        <div class="card-body col-lg-6">

          <h5 class="card-title">
            {{ event.activity }} du {{ event.starts_at|date:"d M" }}
            {% if request.user in event.registered.all or request.user in event.presents.all %}
              <span class="badge badge-success badge-pill">Inscrit</span>
            {% endif %}
          </h5>
          <h6 class="card-subtitle text-muted">
            {% if event.remaining_seats == 0 %}
              <span class="badge badge-warning badge-pill">Complet</span>
            {% else %}
              Encore
              <span class="badge badge-info badge-pill">{{ event.remaining_seats }}
                </span> places disponibles
            {% endif %}
          </h6>

          <p class="pt-3">
            {{ event.activity.description }}
          </p>
          <p>
            <i class="fa fa-calendar-alt"></i> Début le <i>{{ event.starts_at|date:"l d M à H\hi" }}</i>
            <br>
            <i class="fa fa-calendar-times"></i> Fin le <i>{{ event.ends_at|date:"l d M à H\hi" }}</i>
          </p>

          <hr>

          <b>Condition(s) de venue:</b>
          <ul class="pt-3">
            {% for condition in event.conditions.all %}
              <li>
                {% if condition.price > 0 %}
                  <span class="badge badge-pill badge-secondary">{{ condition.price }}€</span> -
                {% endif %}
                {{ condition.description }}
              </li>
              {% empty %}
              <li>La participation est libre / pas de condition d'accès</li>
            {% endfor %}
          </ul>

          <a href="{% url 'event:activity_detail' event.activity.pk event.activity.slug %}" class="btn btn-info">
            <i class="fa fa-eye"></i>
            En savoir plus sur l'activité
          </a>
          {% include "event/register.html" with user=request.user event=event show_button=True %}
        </div>

        <div class="card-body col-lg-6 p-0">
          <div style="height:100%;" id="event_map"></div>
        </div>
      </div>

      <div class="card-footer">
        <small>
          Organisé par
          <a href="{% url 'user:organization_detail' event.organization.id event.organization.slug %}">
            {{ event.organization.name }}
          </a>

          <br>
          <i class="fa fa-map-marker"></i>
          <a href="{% url 'location:detail' event.location.id event.location.slug %}">
            {{ event.location.name }}</a>,
          {{ event.location.address }}
        </small>
      </div>

      {% if event.activity.picture %}
        <img class="img-responsive w-100" src="{{ event.activity.picture.url }}" alt="activity illustration">
      {% endif %}
    </div>
  </section>

  <section class="container">
    <div class="card">
      <div class="card-body">
        {% if event.has_started %}
          <a href="#" class="btn btn-success btn-sm" onclick="alert('not implemented')"><i class="fa fa-plus"></i> Un membre est présent</a>
        {% endif %}
        {% if not event.has_ended %}
          <a href="#" class="btn btn-success btn-sm" onclick="alert('not implemented')"><i class="fa fa-plus"></i> Inscrire un membre</a>
        {% endif %}
        <br>

        <h5 class="mt-4">Animateur·trice·s</h5>
        <ul>
          {% for user in event.organizers.all %}
            <li>{{ user }}</li>
          {% endfor %}
        </ul>

        <hr>

        <h5>Participant·e·s</h5>
        {# TODO: display only if request.user > volunteer #}
        <ul>
          {% for user in event.registered.all %}
            <li class="m-2">
              {{ user }}
              {% if event.has_started %}
                {% tokenize user=user event=event action='present' as tok %}
                <a href="{% url 'event:user_present' tok %}" class="btn btn-success btn-sm"><i class="fa fa-plus"></i> Ce membre est présent</a>
              {% endif %}
              {% tokenize user=user event=event action='cancel' as tok %}
              <a href="{% url 'event:cancel_reservation' tok %}" class="btn btn-danger btn-sm"><i class="fa fa-minus"></i> Désinscrire ce membre</a>
            </li>
          {% endfor %}
          {% for user in event.presents.all %}
            <li class="m-2">
              {{ user }}
              {% tokenize user=user event=event action='absent' as tok %}
              <a href="{% url 'event:user_absent' tok %}" class="btn btn-danger btn-sm"><i class="fa fa-minus"></i> Ce membre est absent</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>

{% endblock %}

{% block extra_js %}
  <script>
      const longitude = {{ event.location.longitude|unlocalize }};
      const latitude = {{ event.location.latitude|unlocalize }};
  </script>
  {% assets "js_detail_event" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}