<div class="dropdown-divider mb-4"></div>

<section class="container" id="manager">
  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <h3>Gestion de l'organisation</h3> 
      
      <div class="row m-4">
        <h4 class="mr-2">Conditions d'accès</h4>
        <a href="{% url 'event:condition_create' %}" title="create condition">
          <i class="fa fa-plus-circle fa-2x"></i>
        </a>
      </div>

      {% include 'event/condition_list.html' with conditions=organization.conditions.all %}

      <div class="row m-4">
        <h4 class="mr-2">Activity</h4>
        <a href="{% url 'event:activity_create' %}" title="activity place">
          <i class="fa fa-plus-circle fa-2x"></i>
        </a>
      </div>

      <div class="row">
        {% for activity in organization.activities.all %}
        <div class="card col-md-4 p-2">
            <img class="card-img-top" src="{{ activity.picture.url }}">
            <div class="card-body {{about_class}}">
              <h5 class="card-title">{{ activity.name }}</h5>
              <p class="card-text">{{ activity.description  }}</p>
              <a href="{% url 'event:activity_edit' activity.pk %}" title="update condition">
                <i class="fa fa-edit fa-2x"></i>
              </a>
            </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </div>
</section>
