{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atelier Soudé</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FONT -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome-all.min.css' %}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    
    <!-- Custom -->
    <link rel="stylesheet" href="{% static "css/ateliersoude.css" %}">
    
    {% if user_form %}{{ user_form.media }}{% endif %}
    {% if form %}{{ form.media }}{% endif %}


</head>
<body>
  {% include "menu.html" %}

  <main class="content-page" style="position:relative">
    {% block breadcrumbs %}{% endblock %}
  
    {% block content %}{% endblock %}
  </main>

<!-- Script & librairy-->
<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
