{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="mt-5">Suppression de '{{ organization }}'</h1>
    </div>
  </div>

  <section class="container">
    <p>
      <i class="fa fa-exclamation-triangle"></i>
      Vous êtes sur le point de supprimer l'association <code>'{{ organization }}'</code>. Êtes-vous certain de votre choix ?
    </p>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="btn btn-danger" type="submit" value="Oui je suis sûr">
    </form>
  </section>
{% endblock %}
