{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content %}

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>{{ organization.name }}</h1>
      {% if admin %}
        <a class="btn btn-success" href="{% url 'user:organization_update' organization.id %}">
          <i class="fa fa-pencil-alt"></i> Editer
        </a>


        <a class="btn btn-primary" href="{% url 'event:condition_create' organization.pk %}" title="create condition">
          <i class="fa fa-plus-circle"></i> Créer une condition d'accès
        </a>


        <a class="btn btn-primary" href="{% url 'event:activity_create' organization.pk %}" title="activity place">
          <i class="fa fa-plus-circle"></i> Ajouter une activité
        </a>

        <a class="btn btn-primary{% if not organization.activities.all %} disabled{% endif %}" href="{% url 'event:create' organization.id %}">
          <i class="fa fa-plus-circle"></i> Créer un évènement
        </a>

        <a href="{% url 'location:create' %}" class="btn btn-info">
          <i class="fa fa-plus-circle"></i> Ajouter un local
        </a>
      {% endif %}
    </div>
  </div>


  <section class="container">

    <h3>Description</h3>
    <div>
      {{ organization.description }}
    </div>

    <h3 class="mt-4">Locaux</h3>
    {% if organization.places.all %}
      {% for place in organization.places.all %}
        <a class="card-link" href="{% url 'location:detail' place.pk place.slug %}">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">{{ place.name }}</h4>
              <h6 class="card-subtitle mb-2 text-muted">{{ place.address }}</h6>
              <span class="badge badge-secondary">{{ place.category }}</span>
              <p class="card-text">{{ place.description }}</p>
            </div>
            {% if admin %}
              <div class="card-footer">
                <a class="btn btn-primary"
                   href="{% url 'location:edit' place.id %}">
                  <i class="fa fa-pencil-alt"></i>
                  Editer ce lieu
                </a>
                <a class="btn btn-danger"
                   href="{% url 'location:delete' place.id %}">
                  <i class="fa fa-trash-alt"></i>
                  Supprimer ce lieu
                </a>
              </div>
            {% endif %}
          </div>
        </a>
      {% endfor %}
    {% else %}
      <div>Il n'y a pas de local associé à cette organisation.</div>
    {% endif %}


    <h3 class="mt-4">Membres actif·ve·s</h3>
    <div class="row no-gutters">

      <div class="col-sm">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Les administrateurs</h4>
            <ul class="list-group list-group-flush">
              {% for user in organization.admins.all %}
                <li class="list-group-item">
                  <a href="{% url 'user:user_detail' user.pk %}">
                    {{ user.email }}{% if user.first_name %} - {{ user.first_name }}{% endif %}
                  </a>
                  {% if admin %}
                    <form action="{% url 'user:remove_from_admins' organization.pk user.pk %}" class="d-inline">
                      {% csrf_token %}
                      <button type="submit" class="btn badge badge-pill badge-danger" onclick="return confirm('Êtes-vous sûr ?')">&times;</button>
                    </form>
                  {% endif %}
                </li>
                {% empty %}
                <li class="list-group-item">
                  Il n'y a pas d'administrateur associé à cette organisation.
                </li>
              {% endfor %}
            </ul>
            {% if admin %}
              <form class="mt-2" action="{% url 'user:organization_add_admin' organization.pk %}" method="post">
                {% csrf_token %}
                {% bootstrap_form add_admin_form %}
                <div class="form-group">
                  <button type="submit" class="btn btn-success btn-block">
                    <i class="fa fa-plus"></i>
                    Ajouter cet admin
                  </button>
                </div>
              </form>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="col-sm">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Les volontaires</h4>
            <ul class="list-group list-group-flush">
              {% for user in organization.volunteers.all %}
                <li class="list-group-item">
                  <a href="{% url 'user:user_detail' user.pk %}">
                    {{ user.email }}{% if user.first_name %} - {{ user.first_name }}{% endif %}
                  </a>
                  {% if admin %}
                    <form action="{% url 'user:remove_from_volunteers' organization.pk user.pk %}" class="d-inline">
                      {% csrf_token %}
                      <button type="submit" class="btn badge badge-pill badge-danger" onclick="return confirm('Êtes-vous sûr ?')">&times;</button>
                    </form>
                  {% endif %}
                </li>
                {% empty %}
                <li class="list-group-item">
                  Il n'y a pas de volontaire associé à cette organisation.
                </li>
              {% endfor %}
            </ul>
            {% if admin %}
              <form class="mt-2" action="{% url 'user:organization_add_volunteer' organization.pk %}" method="post">
                {% csrf_token %}
                {% bootstrap_form add_volunteer_form %}
                <div class="form-group">
                  <button type="submit" class="btn btn-success btn-block">
                    <i class="fa fa-plus"></i>
                    Ajouter ce volontaire
                  </button>
                </div>
              </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    {% if events %}
      <h3 class="mt-4">Prochains évènements</h3>
      {% include "event/event_cards.html" with event_list=events %}
    {% endif %}

    <h3 class="mt-4">Activités</h3>
    {% include "event/activity/cards.html" with activities=organization.activities.all %}

    {% if admin %}
      <div class="dropdown-divider mb-4"></div>
      <div class="row m-4">
        <h4>Conditions d'accès</h4>
      </div>

      {% include 'event/condition/list.html' with conditions=organization.conditions.all %}
    {% endif %}

  </section>

{% endblock %}
