{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}
  {% include "breadcrumb.html" with current="Connexion" %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Se connecter</h1>
  </div>
</div>
  <section class="container">  

    <div class="row justify-content-md-center">
      <div class="card col-md-8">
        <div class="card-body">
          <h4 class="card-title">Identifiez-vous</h4>
          <form method="post" action="{% url 'login' %}" class="form col-md-8">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-success">
              Connexion
            </button>
            <div class="card-link mt-2 text-center">
              <a href="{% url 'password_reset' %}">Vous avez déjà participé à un évènement ? Inscrivez-vous ici.</a>
            </div>
            <div class="card-link mt-2 text-center">
              <a href="{% url 'user:user_create' %}">Pas de compte ET vous n'avez jamais participé à un évènement sur ce site ? </a>
            </div>
            <div class="card-link mt-2 text-center">
              <a href="{% url 'password_reset' %}">Mot de passe oublié ?</a>
            </div>
          </form>
        </div>
      </div>
    </div>   
  
  </section>
          
{% endblock %}
