{% extends "base.html" %}

{% load bootstrap4 %}

{% block content %}
    
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>Changer de mot de passe</h1>
    </div>
  </div>

  {% if validlink %}
    <section class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-10">
          <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" class="btn btn-success" value="Changer mon mot de passe" />
          </form>
        </div>
      </div>
    </section>
  {% else %}
    <section class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-10">
          <h2>Password reset failed</h2>
          <p>
            Le lien de réinitialisation de mot de passe est invalide,
            il a probablement déjà été utilisé. Veuillez à nouveau réinitialiser
            votre mot de passe.
          </p>
        </div>
      </div>
    </section>
  {% endif %}

{% endblock %}
