{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}


{% block content %}
  <div class="container">
    <h1>Mes informations</h1>
    
    <div class="card p-3">
      <form action="" method="post" enctype="multipart/form-data"
        class="pure-form form">    
        <fieldset>
          {% csrf_token %}
          {% bootstrap_form form %}
          <button type="submit" class="btn btn-primary">Enregistrer</button>
        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}
