{% load static %}


{% block list %}

<!-- a user card -->
<div class="card-user card p-2">
  <a href="{{ user.get_absolute_url }}">
    <div class="{{class}}" id="square-{{user_id}}">
      <div class="avatar-card-user {{img_class}}">
        user
      </div>

      <div class="{{content_class}}">
        <h5 class="mx-auto col-12">
          {{ user.first_name|capfirst }} {{ user.last_name|capfirst}}
        </h5>

        {% for organization in object.visitor_organisations.all %}
          <span class="user-status">
            Visiteur à {{ organization.name }}
          </span>
        {% endfor %}
        
        {% for organization in object.member_organisations.all %}
          <span class="user-status">
            Membre à {{ organization.name }}
          </span>
        {% endfor %}
        
        {% for organization in object.volonteer_organisations.all %}
          <span class="user-status">
            Membre actif à {{ organization.name }}
          </span>
        {% endfor %}
        
        {% for organization in object.admin_organisations.all %}
          <span class="user-status">
            Administateur à {{ organization.name }}
          </span>
        {% endfor %}
      </div>
    </div>
  </a>

  {% if orga %}
  {% elif absentee and request.user in event.organizers.all %}
  <button class="btn-setPresent btn" id="{{userid}}">Confirmer présence</button>
  {% elif not absentee and request.user in event.organizers.all %}
  <button class="btn-setAbsent btn" id="{{userid}}">Annuler présence</button>
  {% endif %}
</div>


{% endblock list %}
