{% extends 'base.html' %}
{% load bootstrap4 assets %}

{% block extra_css %}
  {% assets "css_autocomplete" %}
    <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet"/>
  {% endassets %}
{% endblock %}

{% block content %}
  <div class="container">
    <h1>Mes informations</h1>
    
    <div class="card p-3">
      <form action="" method="post" enctype="multipart/form-data"
        class="pure-form form">    
        <fieldset>
          {% csrf_token %}
          {% bootstrap_form form %}
          <button type="submit" class="btn btn-primary">Enregistrer</button>
        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  {% assets "js_create_edit_user" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}