{% extends 'detail_view.html' %}
{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}

{% load activity_tags %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
{% with type="users" list_view="../" detail_name=target_user.get_full_name %}
   {{ block.super }}
{% endwith %}
{% endblock %}

{% block header_ban %}
    {% with object="user-profile"%}
        {{ block.super }}
    {% endwith %}
{% endblock header_ban %}

{% block TitleAndEdit %}
<!-- edit profil -->
{% if target_user.pk == request.user.pk %}
    <a class="card-link mr-3 fm-update btn btn-primary float-right btn-circle-responsive" href="{% url "user_profile" %}">
        <i class="fa fa-pencil-square-o 2-xs pt-1"></i>
    Editer mon profil
    </a>
{% endif %}

{% with name=target_user.get_full_name %}
{{block.super}}
{% endwith %}

<div class="ml-5">
            {% for organization in target_user.organizationperson_set.all %}
            <small>

                {% if organization.role == 0 %}
                    Visiteur 
                {% elif organization.role == 10 %}
                    Membre 
                {% elif organization.role == 20 %}
                    Membre actif
                {% elif organization.role == 30 %}
                    Administateur
                {% endif %}

                à
                <a href="{% url 'organization_detail' organization.organization.id organization.organization.slug %}">
                        {{ organization.organization.name }}
                </a>
            </small>
            {% empty %}
            <small>Ce profil n'est rattaché à aucune organisation</small>
            {% endfor %}
</div>

{% endblock TitleAndEdit %}

{% block context %}
<div class="sticky-position sticky-top" style="top:100px;" >
    {% include "users/user.html" with user=target_user class="" img_class="col-lg" about_class="row" %}
</div>

{% endblock context %}

{% block stream %}
    {% with object=target_user %}
    {{ block.super }}
    {% endwith %}
{% endblock stream %}

<!-- which rendez-vous -->
{% block about %}

<h5 class="border-bottom border-gray pb-2 mb-0 clear">Rendez-vous</h5>

<section class="row" id="list-booking">

    {% include "plateformeweb/event_list_vuejs.html" with context_type="user" context_pk=target_user.pk %}

</section>
{% endblock about %}
