{% extends 'base.html' %}
{% load assets %}
{% load bootstrap4 %}

{% block extra_css %}
  {% assets "css_autocomplete" %}
    <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet"/>
  {% endassets %}
{% endblock %}

{% block content %}
  <section class="container mt-4">
    <h1>
      {% if place %}
        Mise à jour de '{{ place }}'
      {% else %}
        Création d'un nouveau lieu
      {% endif %}
    </h1>
    <a href="{% url 'user:organization_create' %}" class="btn btn-success">
      <i class="fa fa-users"></i>
      Créer une organisation
    </a>
    <div class="card p-3">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="form-group p-2">
          <button type="submit" class="btn btn-success w-100 p-3">Valider</button>
        </div>
      </form>
    </div>
  </section>
{% endblock %}

{% block extra_js %}
  {% assets "js_create_edit_place" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}