{% extends 'base.html' %}
{% load assets %}

{% block extra_css %}
  {% assets "css_detail_place" %}
    <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet"/>
  {% endassets %}
{% endblock %}

{% block content %}
  <section class="container">
    <h1 class="mt-4">{{ place.name }}</h1>

    <div class="card">
      {% if place.picture %}
        <img class="img-responsive w-100" src="{{ place.picture.url }}" alt="image_lieu">
      {% endif %}
      <div class="card-body">
        <h5 class="card-subtitle pb-3 mb-2 mt-2 text-muted border-bottom border-gray clear">
          {{ place.place_type }} -
          <small>
            <i class="fa fa-map-marker"></i>
            {{ place.address }}
          </small>
        </h5>
        {{ place.description }}
      </div>

      <div class="card-footer">
        <a class="card-link btn btn-primary" href="{% url 'location:place_edit' place.id %}">
          <i class="fa fa-pencil-alt"></i>
          Editer ce lieu
        </a>
        <a class="card-link btn btn-danger" href="{% url 'location:place_delete' place.id %}">
          <i class="fa fa-trash-alt"></i>
          Supprimer ce lieu
        </a>
      </div>

    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-subtitle pb-3 mb-2 mt-2 text-muted border-bottom border-gray clear">Évènements organisés à {{place.name}}</h5>
        <ul>
          <li><a href="#">evenement 1</a></li>
          <li><a href="#">evenement 2</a></li>
          <li><a href="#">evenement 3</a></li>
          <li><a href="#">evenement 4</a></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="container-fluid" id="place_map" style="height: 90vh"></section>

{% endblock %}

{% block extra_js %}
  <script>
    let latitude = {{ place.latitude }};
    let longitude = {{ place.longitude }};
    let placeName = "{{ place.name }}";
  </script>
  {% assets "js_detail_place" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}